# Ignore VSCode settings
.vscode/

# Ignore Visual Studio files
*.sdf
*.suo
*.vcxproj*
*.filters
*.lastbuildstate

# Ignore build files
*.obj
*.log
*.tlog
*.pdb
*.ilk
*.idb
*.ipch
*.cache
*.sln.docstates

# Ignore Assembly-related files
*.sln
*.asm
*.obj
*.log
*.tlog
*.filters
*.sdf
*.suo
*.vcxproj*
*.lastbuildstate
*.env

#ignore temporary files
*.pdf

**/bin/
**/obj/
*.user
*.suo
**/Main.java