<h1>Add Food Item</h1>

<form action="/foods/add" method="POST">

  <input type="text" name="name" placeholder="Food Name" required>
  <br><br>

  <input type="number" name="price" placeholder="Price" required>
  <br><br>

  <input type="text" name="category" placeholder="Category" required>
  <br><br>

  <textarea name="description" placeholder="Description"></textarea>
  <br><br>

  <button type="submit">Add Food</button>

</form>