<!DOCTYPE html>
<html>
<head>
    <title>CampusBite</title>
</head>
<body>

    <h1>CampusBite System</h1>

    <a href="/auth/login">Login</a>
    <br><br>

    <a href="/auth/register">Register</a>

    <p>Placeholder Page (for now)</p>

</body>
</html>